{% extends "semantic-ui-base.html" %}

{% block extra-js %}
<script src="/static/bower_components/underscore/underscore.js"></script>
<script src="/static/battle/angular_form.js"></script>
<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/bower_components/restangular/dist/restangular.js"></script>
<script src="/static/battle/battle.js"></script>
<script src="/static/battle/auth_service.js"></script>
<script src="/static/battle/base64_service.js"></script>
{%endblock%}

{% block body %}
<body class="fill-height fluid container" ng-controller="BattleController" ng-app="BattleApp">
<div class="ui no-margin menu">
    <a class="active item" href="/">
        <i class="home icon"></i> Battle Dashboard
    </a>

    <div class="ui basic form right item no-padding">
        <div class="inline fields">
            <div class="field">
                <input placeholder="Username" type="text"
                       ng-model="authentication_credentials.username">
            </div>
            <div class="field">
                <input placeholder="Password" type="password"
                       ng-model="authentication_credentials.password">
            </div>
            <div class="field">
                <button class="ui blue button" ng-click="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="grid ui" ng-if="authentication_credentials.isAuthenticated">
    <div class="six wide column">
        <div class="ui menu no-margin">
            <div class="menu">
                <a class="active item">
                    <i class="users icon"></i>
                    Battles
                </a>
                <a class="item blue labeled icon button" ng-click="newBattleForm.toggleDom()">
                    <i class="add icon"></i> NEW
                </a>

            </div>
        </div>
        <form class="ui form segment"
              ng-class="{loading: filterBattlesForm.submitting, error: !filterBattlesForm.valid}"
              ng-submit="filterBattles($event)">
            <div class="ui error message">
                <ul class="list">
                    <li ng-repeat="error in filterBattlesForm.errors"><< error >></li>
                </ul>
            </div>
            <div class="three fields">
                <div class="field"
                     ng-repeat="(field_key, field) in filterBattlesForm.fields"
                     ng-class="{error: !field.valid}"
                        >
                    <label><< field.label >></label>
                    <input type="text"
                           name="<< field.field_name >>"
                           placeholder="<< field.placeholder >>"
                           ng-model="field.value">
                    <div class="ui red pointing above ui label" ng-if="!field.valid">
                        <p ng-repeat="error in field.errors"><< error >></p>
                    </div>
                </div>
                <div class="field">
                    <br/>
                    <button type="submit" class="ui fluid icon button">Filter</button>
                </div>
            </div>
        </form>
        <table class="ui table">
            <thead>
            <tr>
                <th>Attacker</th>
                <th>Defender</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="battle in battles | orderBy: 'id'"
                    >
                <td ng-class="{positive: battle.winner == battle.attacker.resource_uri}"><< battle.attacker.nickname >>
                    (#<< battle.attacker.id >>)
                </td>
                <td ng-class="{positive: battle.winner == battle.defender.resource_uri}"><< battle.defender.nickname >>
                    (#<< battle.defender.id >>)
                </td>
                <td><< battle.start | date:'medium' >></td>
                <td><< battle.end | date:'medium' >></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">
                    << battles.length >> Battles
                </th>
            </tr>
            </tfoot>
        </table>

        <form class="ui new battle small modal"
              ng-submit="saveBattle($event)">
            <i class="close icon"></i>

            <div class="header">
                New Battle
            </div>
            <div class="content">
                <div class="ui form" ng-class="{loading: newBattleForm.submitting}">
                    <div class="two fields">
                        <div class="field"
                             ng-repeat="field in battlePlayerFields"
                             ng-class="{error: !field.valid}"
                                >
                            <label><< field.label >></label>
                            <input type="number"
                                   name="<< field.field_name >>"
                                   placeholder="<< field.placeholder >>"
                                   ng-model="field.value">
                            <div class="ui red pointing above ui label" ng-if="!field.valid">
                                <p ng-repeat="error in field.errors"><< error >></p>
                            </div>
                        </div>
                    </div>
                    <div class="field"
                         ng-class="{error: newBattleForm.fields.winner.valid}"
                            >
                        <label><< newBattleForm.fields.winner.label >></label>
                        <select ng-model="newBattleForm.fields.winner.value">
                            <option value="<< newBattleForm.fields.attacker.value >>" selected="true">Attacker</option>
                            <option value="<< newBattleForm.fields.defender.value >>">Defender</option>
                        </select>
                        <div class="ui red pointing left ui label" ng-if="!newBattleForm.fields.winner.valid">
                            <p ng-repeat="error in newBattleForm.fields.winner.errors"><< error >></p>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field"
                             ng-repeat="field in battleDatetimeFields"
                             ng-class="{error: !field.valid}"
                                >
                            <label><< field.label >></label>
                            <input type="text"
                                   name="<< field.field_name >>"
                                   placeholder="<< field.placeholder >>"
                                   ng-model="field.value">
                            <div class="ui red pointing above ui label" ng-if="!field.valid">
                                <p ng-repeat="error in field.errors"><< error >></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="reset" class="ui button" ng-click="newBattleForm.closeDom()">Cancel</button>
                <button type="submit" class="ui positive button">Create</button>
            </div>
        </form>
    </div>

    <div class="ten wide column">
        <div class="ui menu no-margin">
            <div class="menu">
                <a class="active item">
                    <i class="users icon"></i>
                    Players
                </a>
                <a class="item blue labeled icon button" ng-click="newPlayerForm.toggleDom()">
                    <i class="add icon"></i> NEW
                </a>

                <form class="ui action input float-right loading"
                      ng-submit="filterPlayers($event, nicknameFilter)"
                      ng-class="{loading:filterPlayersForm.submitting}">
                    <input placeholder="Nickname..." type="text" ng-model="nicknameFilter" />
                    <div type="submit" class="ui icon button">Filter</div>
                </form>
            </div>
        </div>
        <table class="ui table">
            <thead>
            <tr>
                <th>Nickname</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win Streak</th>
                <th>Created</th>
                <th>Last Seen</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players | orderBy: 'id'"
                ng-dblclick="editPlayer(player)"
                ng-switch="player.editing">
                <td ng-switch-default>
                    <a href="/player/<<player.id >>/">
                        << player.nickname >>
                    </a>
                </td>
                <td ng-switch-default><< player.first_name >></td>
                <td ng-switch-default><< player.last_name >></td>

                <td ng-switch-when="true">
                    <div class="ui input">
                        <input type="text" placeholder="Nickname" ng-model="player.nickname">
                    </div>
                </td>
                <td ng-switch-when="true">
                    <div class="ui input">
                        <input type="text" placeholder="First Name" ng-model="player.first_name">
                    </div>
                </td>
                <td ng-switch-when="true">
                    <div class="ui input">
                        <input type="text" placeholder="Last Name" ng-model="player.last_name">
                    </div>
                </td>

                <td><< player.wins >></td>
                <td><< player.losses >></td>
                <td><< player.current_win_streak >></td>
                <td><< player.created | date:'medium' >></td>
                <td><< player.last_seen | date:'medium' >></td>

                <td ng-switch-when="true" ng-click="updatePlayer(player)">
                    <div class="ui action input">
                        <div class="ui teal icon button"><i class="copy icon"></i></div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="9">
                    << players.length >> Players
                </th>
            </tr>
            </tfoot>
        </table>

        <form class="ui new player small modal" ng-submit="savePlayer($event)">
            <i class="close icon"></i>

            <div class="header">
                New Player
            </div>
            <div class="content">
                <div class="ui form" ng-class="{loading: newPlayerForm.submitting}">
                    <div class="field"
                         ng-repeat="(field_name, field) in newPlayerForm.fields"
                         ng-class="{error: !field.valid}"
                            >
                        <label><< field.label >></label>
                        <input type="text" name="<< field.field_name >>" ng-model="field.value">

                        <div class="ui red pointing above ui label" ng-if="!field.valid">
                            <p ng-repeat="error in field.errors"><< error >></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <button type="reset" class="ui button" ng-click="newPlayerForm.closeDom()">Cancel</button>
                <button type="submit" class="ui positive button">Create</button>
            </div>
        </form>
    </div>
</div>

<footer class="ui tertiary segment center aligned no-margin">
    ©2013 HarpB
</footer>
{% endblock %}
